
.card{
    background-color: #ffffff;
    border: solid 1px rgba(99, 99, 99, 0.2);
    border-radius: .3em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 .5rem;
    min-height: 100%;
    position: relative;
}

.card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__icon {
    font-size: xx-large;
    background-color: #c7fceb;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__body {
    margin-bottom: 3.4rem;

}

.card__footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.card__footer p {
    font-weight: bold;
    text-align: center;
}
