
.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: calc(100vh - 90px);
    width: 100%;
    padding-left: 8rem;
}

.form h1 {
    text-align: center;
}

.form form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-right: 8rem;
}

.form input, .form textarea {
    border: 0;
    border-bottom: solid 1px rgba(99, 99, 99, 0.2);
    margin-bottom: 1rem;
    height: 3rem;
}

.form textarea {
    height: 9rem;
    resize: none;
}


.form input:focus, .form textarea:focus {
    border: 0;
    border-bottom: solid 1px #47c3a4;
    outline: none;
}

.button{
    background-color: #47c3a4;
    border: none;
    border-radius: .3rem;
    color: #ffffff;
    font-family: 'Bree Serif', serif;
    font-size: 1.4rem;
    height: 3rem;
}

.asideImage {
    background-image: url("/perro-oficina.png");
    background-size: cover;
    background-position: right;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.form input, .form select, .form textarea {
    font-family: 'Nunito', sans-serif;
}
