.container, .nav__container  {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.nav__container {
    border-bottom: solid 1px rgba(0,0,0, 0.1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 100% !important;
}

@media screen and (max-width: 320px) {
    #__next {
        display: flex
    }
}

@media (max-width: 576px) {

    .container, .nav__container  {
        padding: 1rem 1rem !important;
        width: 100vw;
    }
}

@media (max-width: 992px) {
    .container, .nav__container  {
        padding: 1rem 2rem;
    }

    .nav__container {
        border-bottom: solid 1px rgba(0,0,0, 0.1);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        max-width: 100% !important;
    }

}

@media (max-width: 1400px) {
    .container, .nav__container  {
        padding: 1rem 4rem;
    }
}

@media (min-width: 1401px) {
    .container, .nav__container  {
        padding: 1rem 20rem;
    }
}

