@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

html, body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #47c3a4;
  font-family: 'Bree Serif', serif;
}

* {
  box-sizing: border-box;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  position: relative;
}

