.landing {
    align-items: end;
    background-image: url("/img/landing.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
    display: flex;
    height: 50vh;
    justify-content: center;
    width: 100%;
}

.landing h1 {
    color: #f8f7f3;
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.main__welcome {
    align-items: center;
    color: #47c3a4;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.container p {
    font-size: 1.2rem;
    padding: 0 1rem;
    text-align: justify;
}

.main__presentation h3 {
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    text-align: center;
}

.main__presentation__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 2rem;
}

.main__presentation__text p {
    font-size: large;
    line-height: 2.4rem;
    padding-right: 1rem;
    text-align: justify;
}

.main__presentation__image {
    background-image: url("/img/pet-hotels.png");
    background-size: cover;
    height: 450px;
    margin: 1rem 0;
}

.main__services {
    background-color: #fafafa;
    padding: 2rem 0 4rem 0;
    text-align: center;
    width: 100%;
}
.services__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main__footer__image {
    background-image: url("/img/dog-playing.jpg");
    background-position: center;
    background-size: cover;
    min-height: 40vh;
}

@media (max-width: 1024px) {
    .main {
        padding: 4rem 8rem;
    }

    .main__presentation__image {
        background-position: left;
    }
}

@media (max-width: 576px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }

    .main {
        padding: 1rem 2rem;
    }

    .landing {
        align-items: center;
        background-image: url("/img/landingMobile.png");
    }

    .landing h1 {
        font-size: 2rem;
        margin-right: 1rem;
        text-align: end;
    }

    .main p {
        padding: 0;
    }

    .main__presentation {
        display: flex;
        flex-direction: column;
    }

    .main__presentation__grid {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 2rem;
    }

    .main__presentation__text p {
        padding: 0;
    }

    .main__presentation__image {
        height: 500px;
        width: 100%;
    }

    .main__services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services__container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 1rem;
    }

    .main__footer__image {
        background-position: left center;
    }
}

@media (max-width: 992px) {
    .main__presentation__image__grid {
        background-color: #c7fceb;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .services__container {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 1rem;
    }
}
