.carousel__bg {
    background-color: #c7fceb;
    padding: 3rem;
    width: 100%;
}

.carousel {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 713px;
}

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}
