.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-height: 90px;
}

.nav .nav__box {
    align-items: center;
    display: flex;
    font-size: 1.3rem;
}

.nav__box img {
    max-height: 58px;
}

.nav__box .nav__title {
    color: #47c3a4;
    font-family: 'Bree Serif', serif;
    font-size: 2.6rem;
}



.nav__box a {
    margin-left: 1rem;
}

.nav__mobileButton {
    display: none;
}

.nav__mobileButton img {
    cursor: pointer;
    max-height: 2rem;
}

.nav__mobile {
    display: none;
}

@media (max-width: 1024px) {

    .nav {
        padding: 1rem 2rem;
    }

    .nav .nav__title {
        display: none;
    }

    .nav .nav__links {
        display: none;
    }

    .nav .nav__mobileButton {
        display: flex;
        align-items: center;
    }

    .nav__mobile {
        align-items: center;
        background: #47c3a4;
        color: #fff;
        display: flex;
        font-size: 1.3rem;
        font-weight: bold;
        height: 4rem;
        justify-content: space-between;
        padding: 1rem 2rem;
        position: absolute;
        width: 100%;
    }
}
