.react-datepicker__header{
    background-color: #47c3a4 !important;
    color: #ffffff !important;
}

.accordion__header {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.accordion__header h2{
    display: inline-block;
}

.accordion__guarderia, .accordion__residencia {
    align-items: center;
    background-color: #ffffff;
    border: solid 1px rgba(0,0,0, 0.1);
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;
}

.bg {
    background-attachment: fixed;
    background-image: url("/bg_reservas.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
    height: calc(100vh - 90px);
    width: 100%;
}

.title{
    color: #f8f7f3;
    font-size: 3.8rem;
    letter-spacing: 3px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 2rem;
}

.form form {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.form input {
    border: 0;
    border-bottom: solid 1px rgba(99, 99, 99, 0.2);
    margin-bottom: 1rem;
    height: 2rem;
}

.form input:focus {
    border: 0;
    border-bottom: solid 1px #47c3a4;
    outline: none;
}

.button{
    background-color: #47c3a4;
    border: none;
    border-radius: .3rem;
    color: #ffffff;
    font-family: 'Bree Serif', serif;
    font-size: 1.4rem;
    height: 3rem;
}

@media (max-width: 600px) {
    .accordion__guarderia, .accordion__residencia {
        align-items: center;
    }

    .bg {
        background-image: url("/bg_reservasMobile.png");
    }

}
